*{
    margin: 0;
    padding: 0;
    
}

.header{
    background-color: #343633;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    min-height: 75px;  
}

.logo-onebitcode{
    width: 200px;
}

.buttons{
    display: flex;
    gap: 10px;
}

.buttonHeader {
    font-size: 20px;
    padding: 10px 15px;
    background-color: transparent;
    border: none;
}

.buttonHeader p{
    color: white;
}

.buttonHeader:hover{
    text-decoration: 3px underline;
    text-decoration-color: black;
    text-underline-offset: 10px;
    cursor: pointer;
}

.topo{
    margin-top: 10px;
    /*border: 2px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
h2{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.conteiner{
    margin-left: 40px;
    margin-right: 40px;
    /*background-color: darkgray;
    border: 2px solid black;*/
    display: flex;
    flex-wrap: wrap;
    gap: 15px 15px;
}

.item{
    width: 250px;
    min-height: 410px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
}

.img{
    border-radius: 10px;
    width: 250px;
    height: 160px;
}